{% extends 'base.html' %}
{% load static %}

{% block title %}
    This Post Title
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock %}

{% block content %}
    <section id="summary">
        <h2>Post Title</h2>
        <article>
            <img src="{% static 'blog/images/mountains.jpg' %}" alt="Post Title">
            <address>By Viktor</address>
            <div>
                Last updated on <time>July 10th</time>
            </div>
        </article>
    </section>

    <main>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque non quas recusandae, ut vitae. Consectetur dolores eaque laborum libero non. Ea eaque explicabo harum in nesciunt omnis possimus rem!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque non quas recusandae, ut vitae. Consectetur dolores eaque laborum libero non. Ea eaque explicabo harum in nesciunt omnis possimus rem!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque non quas recusandae, ut vitae. Consectetur dolores eaque laborum libero non. Ea eaque explicabo harum in nesciunt omnis possimus rem!
        </p>
    </main>
{% endblock %}